<div class="post-preview">
    
		<h2 class="post-title">
            Great night @ The Coach & Horses!
        </h2>

    <p>Last Saturday night we played a loud and rocking set at the Coach & Horses in Strood. It was our first proper gig and it couldn't have been better!</p>
    
    <p>
    	Great support from <a href="https://www.facebook.com/facebok.com.manicandthemadkats">Manic & The Madkats</a>, <a href="https://www.facebook.com/TheFurryLoveLickers?__tn__=C">The Furry Love Lickers</a> and <a href="https://www.facebook.com/pages/GOD/1415468952058567?ref=profile">G.O.D</a>. All these bands were awesome - do yourself a favour and go see them!
    </p>

    <p>
    	Big thanks to Paul Crowhurst for organising a great night, Kev Hammond for looking after the desk, and to the guys from G.O.D for letting us use their rig. 
    </p>


    <blueimp-gallery></blueimp-gallery>

    <a href="img/cah-june15/1.jpg" class="btn btn-info" data-gallery>Check out the pics...</a>

	<div id="burgers" style="display: none">
	     <a href="img/cah-june15/2.jpg"  data-gallery>
	        <img src="img/cah-june15/2.jpg" alt="The Who Are We - Live at the Coach & Horses">
	    </a>
	    <a href="img/cah-june15/3.jpg"  data-gallery>
	        <img src="img/cah-june15/3.jpg" alt="The Who Are We - Live at the Coach & Horses">
	    </a>
	    <a href="img/cah-june15/4.jpg"  data-gallery>
	        <img src="img/cah-june15/4.jpg" alt="The Who Are We - Live at the Coach & Horses">
	    </a>
	    <a href="img/cah-june15/5.jpg"  data-gallery>
	        <img src="img/cah-june15/5.jpg" alt="The Who Are We - Live at the Coach & Horses">
	    </a>
	    <a href="img/cah-june15/6.jpg"  data-gallery>
	        <img src="img/cah-june15/6.jpg" alt="The Who Are We - Live at the Coach & Horses">
	    </a>
	    <a href="img/cah-june15/7.jpg"  data-gallery>
	        <img src="img/cah-june15/7.jpg" alt="The Who Are We - Live at the Coach & Horses">
	    </a>
	    <a href="img/cah-june15/8.jpg"  data-gallery>
	        <img src="img/cah-june15/8.jpg" alt="The Who Are We - Live at the Coach & Horses">
	    </a>
	    <a href="img/cah-june15/9.jpg"  data-gallery>
	        <img src="img/cah-june15/9.jpg" alt="The Who Are We - Live at the Coach & Horses">
	    </a>

	</div>

    <a href="https://www.youtube.com/playlist?list=PLmRxYTL85D1xUAkjqs2sq1afyMdi6h2wq" target="_blank"  class="btn btn-danger" >Watch the videos...</a>
    <br /><br />

    <p class="post-meta"><a href="http://www.thecoachandhorses-strood.co.uk/">Coach & Horses, Strood</a></p>

    
    <p><a href="#/news">Home</a></p>


</div>
