<blueimp-gallery></blueimp-gallery>

<a href="img/cah-june15/1.jpg" class="btn btn-info" data-gallery>View Pictures...</a>

<div id="burgers" style="display: none">
     <a href="img/cah-june15/2.jpg"  data-gallery>
        <img src="img/cah-june15/2.jpg" alt="The Who Are We - Live at the Coach & Horses">
    </a>
    <a href="img/cah-june15/3.jpg"  data-gallery>
        <img src="img/cah-june15/3.jpg" alt="The Who Are We - Live at the Coach & Horses">
    </a>
    <a href="img/cah-june15/4.jpg"  data-gallery>
        <img src="img/cah-june15/4.jpg" alt="The Who Are We - Live at the Coach & Horses">
    </a>
    <a href="img/cah-june15/5.jpg"  data-gallery>
        <img src="img/cah-june15/5.jpg" alt="The Who Are We - Live at the Coach & Horses">
    </a>
    <a href="img/cah-june15/6.jpg"  data-gallery>
        <img src="img/cah-june15/6.jpg" alt="The Who Are We - Live at the Coach & Horses">
    </a>
    <a href="img/cah-june15/7.jpg"  data-gallery>
        <img src="img/cah-june15/7.jpg" alt="The Who Are We - Live at the Coach & Horses">
    </a>
    <a href="img/cah-june15/8.jpg"  data-gallery>
        <img src="img/cah-june15/8.jpg" alt="The Who Are We - Live at the Coach & Horses">
    </a>
    <a href="img/cah-june15/9.jpg"  data-gallery>
        <img src="img/cah-june15/9.jpg" alt="The Who Are We - Live at the Coach & Horses">
    </a>

</div>