<div class="post-preview">
    <a href="#/news/cah-june15full">
        <h2 class="post-title">
        	The Who Are We - Live @ The Coach and Horses in Strood. 
            
        </h2>
    </a>
    <p>Last Saturday night we played a loud and rocking set at the Coach & Horses in Strood. </p>
    <p><iframe width="420" height="315" src="https://www.youtube.com/embed/NONqo_0oRGk" frameborder="0" allowfullscreen></iframe></p>

    <p>Click <a href="#/news/cah-june15full">here</a> for more...</p>

    <p class="post-meta"><a href="http://www.thecoachandhorses-strood.co.uk/">Coach & Horses, Strood</a></p>
</div>
